@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section.container {
  width: 100%;
  margin: 2rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

section.container .nav {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FDFDFD;
  border: 1px solid #006637;
  padding: 0 2rem;
  border-radius: 10px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 3rem;
}

.cards .card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 200px;
  border: 1px solid #006637;
  border-radius: 5px;
}

.container .product-name {
  padding: 0.3rem;
}

.container .product-name h4 {
  font-size: 0.9rem;
  font-weight: 500;
}

.container .product-name p {
  padding-top: 0.3rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: #006637;
}

.container .card img {
  width: 100%;
}

.container .show-details {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .show-details p {
  font-size: 0.8rem;
}

.container .show-details button {
  color: #fff;
  background-color: #006637;
  border: 0;
  padding: 0.3rem 1rem;
  font-size: 0.75rem;
  cursor: pointer;
}