@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Inter", sans-serif;
}

#cart {
  height: fit-content;
  width: 70%;
  margin: 4rem auto;
  padding: 1rem
}

.cart-product {
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  margin-bottom: 3rem;
}

.cart-product img {
  width: 16%;
  object-fit: cover;
}

.cart-product .info {
  padding: 1rem 2rem;
  padding-right: 10rem;
}

h1,
.price,
.description,
.quantity {
  padding-bottom: 1.5rem;
}

.price,
.category,
.description,
.quantity {
  font-size: 1.1rem;
  font-weight: 500;
}

span {
  color: #006637;
  font-weight: 500;
}

i {
  color: #006637;
  font-size: 1.3rem;
  margin: 2rem 2rem 0 0;
  cursor: pointer;
}

.cart-info {
  width: 100%;
}

.cart-product button {
  height: 0;
  border: 0;
}

.fa-trash {
  height: 100%;
}

.not-authorized {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
}

.not-authorized a {
  text-decoration: none;
  font-weight: 500;
  color: #006637;
}