@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600&display=swap');

.details {
  display: flex;
  justify-content: center;
  height: 74vh;
  width: 70%;
  margin: 4rem auto;
  padding: 3rem;
  border: 1px solid #006637;
  border-radius: 1rem;
}

.details img {
  width: 40%;
  object-fit: cover;
  margin-right: 4rem;
}

.details .product-details {
  width: 50%;
  padding: 0.5rem 2rem;
  border-left: 1px solid rgba(0, 102, 55, 0.1);;
}

.details .product-details h1 {
  font-family: 'Cairo', sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
  color:rgba(0, 102, 55, 0.9);
  margin-bottom: .5rem;
  line-height: 1.4;
}

.details .product-details p.detailsPrice,
.details .product-details p.detailsCategory
 {
  font-weight: 600;
}

.detailsPrice, .detailsCategory, .description {
  font-family: 'Cairo', sans-serif;
  font-size: 1.2rem;
}

.details .detailsDescription {
  font-family: 'Cairo', sans-serif;
  font-size: 1rem;
  margin-top: 2rem;
  font-weight: 400;
}

.details .addToCart {
  background-color: #006637;
  color: #FFF;
  font-size: 1rem;
  margin-top: 2.5rem;
  padding: 1rem 7rem;
  border: 1px solid #EEE;
  cursor: pointer;
  border-radius: 0.3rem;
}

.details .addToCart:hover {
  background-color: rgba(0, 102, 55, 0.8);
}

/* .product-details span {
  color: #006637;
  font-weight: 500;
} */